<header>
  <mat-toolbar color="primary">
    <div class="header" fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
      <a class="header__logo" routerLink="/movies" fxLayout="row" fxLayoutAlign="center center"><mat-icon class="header__logo__icon">theaters</mat-icon>MOVIQA</a>
      <app-search *ngIf="searchIsEnabled"></app-search>
    </div>
  </mat-toolbar>
</header>
