
.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.header__logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    .header__logo__icon {
        color: #2ef3d7;
    }
}