<footer class="footer" fxLayout="row" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-between center">
  <p class="footer__title">MOVIQA</p>
  <p class="footer__info">Developed by: <a href="https://www.linkedin.com/in/oleg-burlaka-6142594b/">Oleg Burlaka</a>, 2018</p>
</footer>
