.footer {
  margin-top: 30px;
  padding: 20px 30px;
  background-color: #0e1e25;
  color: #717e83;
  .footer__title {
    font-size: 20px;
  }
  .footer__info {
    font-size: 18px;
    font-style: italic;
    a {
      color: currentColor;
      text-decoration: none;
    }
  }
}
