<div class="container" fxLayout="column" fxFlexFill fxLayoutAlign="flex-start center">
  <div class="card" fxLayout="row" fxLayout.xs="column">
      <img class="card__image" src="assets/images/movie-covers/{{movie.img}}" alt="{{movie.name}}">
      <div class="card__info">
        <h2 class="card__info__title">{{movie.name}}</h2>
        <article class="card__info__description card__info--space">{{movie.description}}</article>
        <p class="card__info__rate card__info--space"><span class="card__info__label">Rating:</span> {{movie.rate}}</p>
        <p class="card__info__time card__info--space"><span class="card__info__label">Duration:</span> {{movie.length}}</p>
        <mat-chip-list>
          <mat-chip *ngFor="let genre of movie.genres">{{genre}}</mat-chip>
        </mat-chip-list>
        <br>

      </div>
  </div>
  <button mat-raised-button color="primary" (click)="onBack()">GO BACK</button>
</div>
