.card {
  margin: 10px;
  max-width: 600px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}
.card__image {
  width: 100%;
}
.card__info {
  padding: 10px;
}
.card__info__label {
  font-style: italic;
  margin-right: 7px;
}
.card__info__title {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}
.genres-list__item {
  margin-right: 5px;
}
.card__info--space {
  margin-bottom: 15px;
}
.container {
  padding: 20px;
  min-height: calc(100vh - 128px) !important;
}

@media screen and (min-width: 600px) {
  .card__image {
    max-width: 100%;
    height: 100%;
    margin-right: 20px;
    width: auto;
    float: left;
  }
}
