<app-filters></app-filters>
<div class="movies-list" fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.xs="column" fxFlexFill>
  <ng-container *ngFor="let movie of movies | genre:genresFilter">
    <div class="flex-grid-tile"
      fxFlex.gt-xs="50%"
      fxFlex.gt-sm="33%"
      fxFlex.gt-md="20%">
      <div class="card">
        <mat-card matRipple routerLink="/movie/{{movie.id}}">
          <mat-card-header>
            <mat-card-title>{{movie.name}}</mat-card-title>
            <mat-card-subtitle>{{movie.rate}}</mat-card-subtitle>
          </mat-card-header>
          <img class="card__image" src="assets/images/movie-covers/{{movie.img}}" alt="{{movie.name}}">
        </mat-card>
      </div>
    </div>
  </ng-container>
  <p class="movies-list__message" *ngIf="movies.length < 1">Movies not found</p>
</div>
