.card {
    padding: 20px;
    display: block;
    .card__image {
        max-width: 100%;
        width: 100%;
    }
}

.movies-list__message {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}