
<mat-accordion>
    <mat-expansion-panel class="filter">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Advanced Filters <span *ngIf="filters.genresFilter.length > 0">({{filters.genresFilter.length}})</span>
        </mat-panel-title>
        <mat-panel-description>
          Select filters for searching
        </mat-panel-description>
      </mat-expansion-panel-header>      
      <mat-chip-list class="filter__list">
        <p class="filter__list__label">By genres:</p>
        <mat-chip *ngFor="let genre of filters.genres ; index as i" (click)="onSelectGenre(i)" color="primary" selected="true">{{genre}}</mat-chip>
      </mat-chip-list>     
      <mat-chip-list class="filter__list" *ngIf="filters.genresFilter.length > 0">
        <p class="filter__list__label">Selected Filters:</p>
        <mat-chip *ngFor="let genre of filters.genresFilter ; index as i"        
          (click)="onRemoveGenre(i)">{{genre}}
        <mat-icon matChipRemove>cancel</mat-icon></mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>
  </mat-accordion>
  
  