.search__input {
    max-width: 400px;
    width: 100%;
    background: white;
    padding: 4px;
    font-size: 14px;
    line-height: 1.2;
    border-width: 1px;
    border-color: #777;
    border-style: solid;
    border-radius: 4px;
    color: #333;
    &:focus {
        border-color: #777;
        outline: none;
    }  
    &.ng-valid {
        box-shadow: 0px 0px 10px #25f5ff;
        border-color: #25f5ff;
        &:focus {
            border-color: #25f5ff;
        }
    }
}