/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./styles/reset.css";

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
}



